:root {
    --background-color: white;
    --text-base: black;
    --text-primary: red;
    --text-secondary: gray;
    --hover: rgba(8, 3, 3, 0.075);
    --hover-1: rgba(70, 27, 27, 0.15);
    --hover-2: rgba(68, 27, 27, 0.25);
    --accent-0: #fff;
    --accent-1: #fafafa;
    --accent-2: #eaeaea;
    --accent-3: #999999;
    --accent-4: #888888;
    --accent-5: #666666;
    --accent-6: #444444;
    --accent-7: #333333;
    --accent-8: #111111;
    --accent-9: #000;
}

[data-theme='dark'] {
    --background-color: black;
    --hover: rgba(255, 255, 255, 0.075);
    --hover-1: rgba(255, 255, 255, 0.15);
    --hover-2: rgba(255, 255, 255, 0.25);
    --text-base: white;
    --text-primary: red;
    --text-secondary: black;
    --accent-9: #fff;
    --accent-8: #fafafa;
    --accent-7: #eaeaea;
    --accent-6: #999999;
    --accent-5: #888888;
    --accent-4: #666666;
    --accent-3: #444444;
    --accent-2: #333333;
    --accent-1: #111111;
    --accent-0: #000;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    box-sizing: border-box;
    touch-action: manipulation;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
    color: var(--text-base);
    overscroll-behavior-x: none;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
}


a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

u {
    color: var(--text-primary);
}
